html, body {
  height: 100%;
}

/* Navbar Section */

.my-navbar {
  overflow: hidden;
  display: block;
  background-color: rgba(0, 0, 0, 0.459);
  position: fixed;
  width: 100%;
}

.my-navbar a {
  font-size: 25px;
  color: #00796f;
  float: right;
  text-decoration: none;
  padding: 10px;
}

.my-navbar a:hover {
  background-color: rgba(16, 71, 69, 0.397);
  color: #27c7c7;
}

.my-navbar a.nav-logo {
  float: left;
}

.my-heading-background {
  background: linear-gradient( rgba(16, 71, 69, 0.425), rgba(0, 0, 0, 0.705)), url(../images/bg.jpg) no-repeat center;
  background-size: cover;
  height: 100%;
}

.my-heading-background>h1 {
  font-size: 80px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #27c7c7;
}

/* Cards Section */

.my-cards-background {
  background: rgb(13, 5, 26);
  /* height: 100%; */
}

.cards-box {
  padding: 20px;
  text-align: center;
}

.my-cards {
  transition: 0.2s all;
  border-radius: 5px;
  width: 250px;
  height: 300px;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

.my-cards img {
  width: 100%;
  height: 270px;
  border-radius: 5px 5px 0 0;
}

.my-cards:hover h2 {
  color: #00ffff;
}

.my-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 255, 242, 0.397);
}

.container {
  padding: 2px 16px;
}

.container h2 {
  font-size: 20px;
  color: #12ada0;
  text-align: center;
}

.my-card-1 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/vanilla.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-2 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/rose-champagne.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-3 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/red-velvet.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-4 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/white-unicorn.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-5 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/chocolate-chip-strawberry.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-6 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/raspberry-chocolate.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-7 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/lemon-blueberry.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-8 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/lemon-raspberry.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-9 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/red-heart.jpg) no-repeat;
  background-size: 300px 330px;
}

.my-card-10 {
  background: linear-gradient( rgba(1, 34, 33, 0.850), rgba(0, 0, 0, 0.870)), url(../images/strawberry-choc.jpg) no-repeat;
  background-size: 300px 330px;
}

/* Footer Section */

.my-footer-background {
  background:linear-gradient( rgba(13, 5, 26, 0.877), rgba(0, 0, 0, 0.870)), url(../images/bg.jpg) no-repeat;
}

.my-footer-background h1{
  color: #28afa4;
  font-size: 20px; 
  text-align: center;
  padding: 10px;
}

.my-footer-background h2{
  color: #28afa4;
  font-size: 20px; 
  text-align: center;
  padding-bottom: 10px;
}